<!DOCTYPE html>
<html lang="en-us">

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% include head.html %}
{% seo %}
  <body>

    <div class="titlehead">
        <div class="titleleft">
          <a href="/#" title="Home">{{ site.title }}</a>
        </div>
		<nav class="topnav" id="myTopNav">
  			<div class="nav-container">
  	    			<a href="/#about" title="About">About</a>
  	    			<a href="/#works" title="Works">Works</a>
  	    			<a href="/#hire" title="Hire">Hire now</a>
  	    			<a href="/#contact" title="Contact">Contact</a>
  	    			<a href="/articles" title="Articles">Articles</a>
  	    			<a href="/blog" title="Blog">Blog</a>
					<a href="javascript:void(0);" class="icon" onclick="myFunction()">
						<i class="fa fa-bars"></i>
					</a>
  			</div>
		</nav>
    </div>


    <div class="container content">
      {{ content }}
    </div>

	<div class="sidebar">
		<div class="categories">
			<h3>Read categories</h3>
				<a class="categs" href="/economics">economics</a>
				<a class="categs" href="/statistics">statistics</a>
				<a class="categs" href="/finance">finance</a>
				<a class="categs" href="/management">management</a>
				<a class="categs" href="/complexity">complexity</a>
				<a class="categs" href="/crypto">crypto</a>
		</div>
		<div class="recent">
			<h3>Recent articles</h3>
				<ul>
					{% for post in site.posts limit:5%}
						{% if post.lang contains 'english' %}
   	   						<li class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | truncate:60}}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
		</div>
	</div>

	<div class="footer">
		<div class="titlecenter">
			Copyright 2018. All rights reserved
		</div>
	</div>

	<script>
	function myFunction() {
		var x = document.getElementById("myTopNav");
		if (x.className === "topnav") {
			x.className += " responsive";
		} else {
			x.className = "topnav";
		}
	}
	</script>

  </body>
</html>
