<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

{% include head.html %}
{% seo %}

<style>
	.split {
		height: 100%;
		width: 50%;
		position: absolute;
		z-index: 10;
		top: 0;
		overflow-x: hidden;
		padding-top: 20px;
	}

	.left {
		left: 0;
		background-color: #3899AC;
	}

	.right {
		right: 0;
		background-color: #EDB886;
	}

	.clicked {
		width: 100%;
	}

	.kicked {
		display: none;
	}
	.centered {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	.centered h1 {
		color: #fff;
		font-size: 7vw;
	}
</style>
  <body>

		<div class="left split" id="econ">
			<div class="centered">
				<a href="javascript:void(0);" onclick="chooseEcon()">
					<h1>Help with Economics</h1>
				</a>
			</div>
		</div>

	<div class="right split" id="stat">
		<div class="centered">
			<a href="javascript:void(0);" onclick="chooseStat()">
				<h1>Statistics</h1>
			</a>
		</div>
	</div>

	<script>
	function chooseEcon(field){
		var x = document.getElementById("econ");
		var y = document.getElementById("stat");
		if(x.className === "left split"){
			x.className += " clicked"
			y.className += " kicked"
		}else{
			x.className = "left split"
			y.className = "right split"
		}
	}

	function chooseStat(field){
		var x = document.getElementById("econ");
		var y = document.getElementById("stat");
		if(y.className === "right split"){
			y.className += " clicked"
			x.className += " kicked"
		}else{
			x.className = "left split"
			y.className = "right split"
		}
	}
	</script>

  </body>
</html>
